<div class="header">
    <div class="content">
        <mat-toolbar>
            <button mat-icon-button class="btn_menu" aria-label="Menu">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <span class="logo">artefato</span>
            <span class="spacer"></span>
            <button mat-icon-button class="btn_search" aria-label="Search button">
              <mat-icon>search</mat-icon>
            </button>
          </mat-toolbar>
    </div>
</div>