<div class="nav-categories">
    <div class="content">
        <span class="spacer"></span>
        <mat-icon>search</mat-icon>
        <span class="spacer"></span>
        <mat-icon>search</mat-icon>
        <span class="spacer"></span>
        <mat-icon>search</mat-icon>
        <span class="spacer"></span>
        <mat-icon>search</mat-icon>
        <span class="spacer"></span>
        <mat-icon>search</mat-icon>
        <span class="spacer"></span>
        <mat-icon>search</mat-icon>
        <span class="spacer"></span>
        <mat-icon>search</mat-icon>
        <span class="spacer"></span>
        <mat-icon>search</mat-icon>
        <span class="spacer"></span>
    </div>
</div>