<div class="galery">
    <div class="content">
        <div class="row">
            <mat-card class="column">
            </mat-card>
            <mat-card class="column">
            </mat-card>
        </div>
        <div class="row">
            <mat-card class="column">
            </mat-card>
            <mat-card class="column">
            </mat-card>
        </div>
        <div class="row">
            <mat-card class="column">
            </mat-card>
            <mat-card class="column">
            </mat-card>
        </div>

    </div>
</div>