<div class="galery">
  <mat-tab-group class="content"> </mat-tab-group>

  <mat-tab-group class="content">
    <mat-tab class="flex" label="PRODUTOS">
      <ng-container *ngFor="let product of products">
        <mat-card
          (click)="getPaymentInfo(product)"
          class="column"
          [ngStyle]="{
            'background-image': 'url(' + product.imageURL[0] + ')'
          }"
        >
          <mat-card-header class="card-title">{{
            product.name
          }}</mat-card-header>
        </mat-card>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
  <app-payment
    [pixImage]="pixImage"
    [style.visibility]="paymentInfoIsHidden ? 'hidden' : 'visible'"
    (click)="paymentInfoIsHidden = true; pixImage = ''"
  >
  </app-payment>
</div>
